nav {
    margin-top: 25px;
    position: relative;
    background-color: rgb(145, 195, 196);
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  nav ul li {
    float: left;
    border-right: 1px solid #bbb;
  }
  nav ul li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
  }
  nav li a:hover {
    background-color: #111;
  }
  