@keyframes slide {
    0% {transform: translateX(0);}
    10% {transform: translateX(0);}
  
    15% {transform: translateX(-103.3%);}
    30% {transform: translateX(-103.3%);}
  
    35% {transform: translateX(-203.3%);}
    50% {transform: translateX(-203.3%);}
  
    55% {transform: translateX(-303.3%);}
    70% {transform: translateX(-303.3%);}
  
    75% {transform: translateX(-403.3%);}
    90% {transform: translateX(-403.3%);}
  
    95% {transform: translateX(-503.3%);}
    100% {transform: translateX(-503.3%);}
  }
  
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .slider {
    padding-top: 10px;
    position: relative;
  }
  
  .slides {
    position: relative;
    display: flex;
    overflow: hidden;
    list-style-type: none;
  }
  
  .slide {
    width: 100vw;
    flex-shrink: 0;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .slides:hover .slide {
    animation-play-state: paused;
  }
  
  .slide img {
    width: 100%;
    vertical-align: top;
  }
  
  .slide a {
    width: 100%;
    display: inline-block;
    position: relative;
  }
  .caption {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 8vw;
    position: absolute;
    bottom: 8vw;
    right: 4vw;
  }
  
  .slide:target {
    animation-name: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
  }
  
  .slider-controller {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0, 0.5);
    z-index: 100;
  }
  
  .slider-controller li {
    list-style-type: none;
    margin: 0 0.5rem;
    display: inline-block;
    vertical-align: top;
  }
  .slider-controller a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  
  @media only screen and (min-width: 1200px) {
    .slide {
      width: 1200px;
    }
  
    .caption {
      font-size: 96px;
      bottom: 96px;
      right: 50px;
    }
  }
  
  